<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="emailForm" class="form-label">Correo</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                [ngClass]="{'is-valid': '', 'is-invalid': userForm.get('email')?.hasError('required') && userForm.get('email')?.touched }"
                id="emailForm"
                placeholder="Email"
              />
              <div class="invalid-feedback">
                Por favor agrega un correo válido
              </div>
            </div>
            <div class="mb-3">
              <label for="passwordForm" class="form-label">Contraseña</label>
              <input
                formControlName="password"
                type="password"
                [ngClass]="{'is-valid': '', 'is-invalid': userForm.get('password')?.hasError('required') && userForm.get('password')?.touched}"
                class="form-control"
                id="passwordForm"
                placeholder="Password"
              />
              <div class="invalid-feedback">
                Por favor agrega este campo.
              </div>
            </div>
  
            <button
            [disabled]="userForm.invalid"
              class="btn btn-success">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
